
@font-face {
    font-family: HYe3gj;
    src: url(https://static.hd.xxx.com/jye/fe-web/fonts/HYe3gj.woff);
    src: url(https://static.hd.xxx.com/jye/fe-web/fonts/HYe3gj.eot?#iefix) format('embedded-opentype'),url(https://static.hd.xxx.com/jye/fe-web/fonts/HYe3gj.woff) format('woff'),url(https://static.hd.xxx.com/jye/fe-web/fonts/HYe3gj.ttf) format('truetype'),url(https://static.hd.xxx.com/jye/fe-web/fonts/HYe3gj.svg#HYe3gj) format('svg')
}
@font-face {
    font-family: FZHei-B01S;
    src: url(https://fex.bdstatic.com/h5static/h5jscss/FZHei-B01S.woff);
    src: url(https://fex.bdstatic.com/h5static/h5jscss/FZHei-B01S.eot?#iefix) format('embedded-opentype'),url(https://fex.bdstatic.com/h5static/h5jscss/FZHei-B01S.woff) format('woff'),url(https://fex.bdstatic.com/h5static/h5jscss/FZHei-B01S.ttf) format('truetype'),url(https://fex.bdstatic.com/h5static/h5jscss/FZHei-B01S.svg#FZHei-B01S) format('svg')
}

@font-face {
    font-family: FZKai-Z03S;
    src: url(https://fex.bdstatic.com/h5static/h5jscss/FZKai-Z03S.woff);
    src: url(https://fex.bdstatic.com/h5static/h5jscss/FZKai-Z03S.eot?#iefix) format('embedded-opentype'),url(https://fex.bdstatic.com/h5static/h5jscss/FZKai-Z03S.woff) format('woff'),url(https://fex.bdstatic.com/h5static/h5jscss/FZKai-Z03S.ttf) format('truetype'),url(https://fex.bdstatic.com/h5static/h5jscss/FZKai-Z03S.svg#FZKai-Z03S) format('svg')
}

@font-face {
    font-family: FZShuSong-Z01S;
    src: url(https://fex.bdstatic.com/h5static/h5jscss/FZShuSong-Z01S.woff);
    src: url(https://fex.bdstatic.com/h5static/h5jscss/FZShuSong-Z01S.eot?#iefix) format('embedded-opentype'),url(https://fex.bdstatic.com/h5static/h5jscss/FZShuSong-Z01S.woff) format('woff'),url(https://fex.bdstatic.com/h5static/h5jscss/FZShuSong-Z01S.ttf) format('truetype'),url(https://fex.bdstatic.com/h5static/h5jscss/FZShuSong-Z01S.svg#FZShuSong-Z01S) format('svg')
}

@font-face {
    font-family: FZFangSong-Z02S;
    src: url(https://fex.bdstatic.com/h5static/h5jscss/FZFangSong-Z02S.woff);
    src: url(https://fex.bdstatic.com/h5static/h5jscss/FZFangSong-Z02S.eot?#iefix) format('embedded-opentype'),url(https://fex.bdstatic.com/h5static/h5jscss/FZFangSong-Z02S.woff) format('woff'),url(https://fex.bdstatic.com/h5static/h5jscss/FZFangSong-Z02S.ttf) format('truetype'),url(https://fex.bdstatic.com/h5static/h5jscss/FZFangSong-Z02S.svg#FZFangSong-Z02S) format('svg')
}

@font-face {
    font-family: FZZongYi-M05S;
    src: url(https://fex.bdstatic.com/h5static/h5jscss/FZZongYi-M05S.woff);
    src: url(https://fex.bdstatic.com/h5static/h5jscss/FZZongYi-M05S.eot?#iefix) format('embedded-opentype'),url(https://fex.bdstatic.com/h5static/h5jscss/FZZongYi-M05S.woff) format('woff'),url(https://fex.bdstatic.com/h5static/h5jscss/FZZongYi-M05S.ttf) format('truetype'),url(https://fex.bdstatic.com/h5static/h5jscss/FZZongYi-M05S.svg#FZZongYi-M05S) format('svg')
}

@font-face {
    font-family: FZLanTingHeiS-R-GB;
    src: url(https://fex.bdstatic.com/h5static/h5jscss/FZLanTingHeiS-R-GB.woff);
    src: url(https://fex.bdstatic.com/h5static/h5jscss/FZLanTingHeiS-R-GB.eot?#iefix) format('embedded-opentype'),url(https://fex.bdstatic.com/h5static/h5jscss/FZLanTingHeiS-R-GB.woff) format('woff'),url(https://fex.bdstatic.com/h5static/h5jscss/FZLanTingHeiS-R-GB.ttf) format('truetype'),url(https://fex.bdstatic.com/h5static/h5jscss/FZLanTingHeiS-R-GB.svg#FZLanTingHeiS-R-GB) format('svg')
}

@font-face {
    font-family: FZBoYaSongS-GB;
    src: url(https://fex.bdstatic.com/h5static/h5jscss/FZBoYaSongS-GB.woff);
    src: url(https://fex.bdstatic.com/h5static/h5jscss/FZBoYaSongS-GB.eot?#iefix) format('embedded-opentype'),url(https://fex.bdstatic.com/h5static/h5jscss/FZBoYaSongS-GB.woff) format('woff'),url(https://fex.bdstatic.com/h5static/h5jscss/FZBoYaSongS-GB.ttf) format('truetype'),url(https://fex.bdstatic.com/h5static/h5jscss/FZBoYaSongS-GB.svg#FZBoYaSongS-GB) format('svg')
}

@font-face {
    font-family: FZCuHeiSongS-B-GB;
    src: url(https://fex.bdstatic.com/h5static/h5jscss/FZCuHeiSongS-B-GB.woff);
    src: url(https://fex.bdstatic.com/h5static/h5jscss/FZCuHeiSongS-B-GB.eot?#iefix) format('embedded-opentype'),url(https://fex.bdstatic.com/h5static/h5jscss/FZCuHeiSongS-B-GB.woff) format('woff'),url(https://fex.bdstatic.com/h5static/h5jscss/FZCuHeiSongS-B-GB.ttf) format('truetype'),url(https://fex.bdstatic.com/h5static/h5jscss/FZCuHeiSongS-B-GB.svg#FZCuHeiSongS-B-GB) format('svg')
}

@font-face {
    font-family: FZChaoCuHei-M10S;
    src: url(https://fex.bdstatic.com/h5static/h5jscss/FZChaoCuHei-M10S.woff);
    src: url(https://fex.bdstatic.com/h5static/h5jscss/FZChaoCuHei-M10S.eot?#iefix) format('embedded-opentype'),url(https://fex.bdstatic.com/h5static/h5jscss/FZChaoCuHei-M10S.woff) format('woff'),url(https://fex.bdstatic.com/h5static/h5jscss/FZChaoCuHei-M10S.ttf) format('truetype'),url(https://fex.bdstatic.com/h5static/h5jscss/FZChaoCuHei-M10S.svg#FZChaoCuHei-M10S) format('svg')
}

@font-face {
    font-family: FZLanTingHeiS-H-GB;
    src: url(https://fex.bdstatic.com/h5static/h5jscss/FZLanTingHeiS-H-GB.woff);
    src: url(https://fex.bdstatic.com/h5static/h5jscss/FZLanTingHeiS-H-GB.eot?#iefix) format('embedded-opentype'),url(https://fex.bdstatic.com/h5static/h5jscss/FZLanTingHeiS-H-GB.woff) format('woff'),url(https://fex.bdstatic.com/h5static/h5jscss/FZLanTingHeiS-H-GB.ttf) format('truetype'),url(https://fex.bdstatic.com/h5static/h5jscss/FZLanTingHeiS-H-GB.svg#FZLanTingHeiS-H-GB) format('svg')
}

@font-face {
    font-family: FZLanTingHei-DB-GBK;
    src: url(https://fex.bdstatic.com/h5static/h5jscss/FZLanTingHei-DB-GBK.woff);
    src: url(https://fex.bdstatic.com/h5static/h5jscss/FZLanTingHei-DB-GBK.eot?#iefix) format('embedded-opentype'),url(https://fex.bdstatic.com/h5static/h5jscss/FZLanTingHei-DB-GBK.woff) format('woff'),url(https://fex.bdstatic.com/h5static/h5jscss/FZLanTingHei-DB-GBK.ttf) format('truetype'),url(https://fex.bdstatic.com/h5static/h5jscss/FZLanTingHei-DB-GBK.svg#FZLanTingHei-DB-GBK) format('svg')
}

@font-face {
    font-family: FZLanTingKanHei-R-GBK;
    src: url(https://fex.bdstatic.com/h5static/h5jscss/FZLanTingKanHei-R-GBK.woff);
    src: url(https://fex.bdstatic.com/h5static/h5jscss/FZLanTingKanHei-R-GBK.eot?#iefix) format('embedded-opentype'),url(https://fex.bdstatic.com/h5static/h5jscss/FZLanTingKanHei-R-GBK.woff) format('woff'),url(https://fex.bdstatic.com/h5static/h5jscss/FZLanTingKanHei-R-GBK.ttf) format('truetype'),url(https://fex.bdstatic.com/h5static/h5jscss/FZLanTingKanHei-R-GBK.svg#FZLanTingKanHei-R-GBK) format('svg')
}

@font-face {
    font-family: FZCuYuan-M03S;
    src: url(https://fex.bdstatic.com/h5static/h5jscss/FZCuYuan-M03S.woff);
    src: url(https://fex.bdstatic.com/h5static/h5jscss/FZCuYuan-M03S.eot?#iefix) format('embedded-opentype'),url(https://fex.bdstatic.com/h5static/h5jscss/FZCuYuan-M03S.woff) format('woff'),url(https://fex.bdstatic.com/h5static/h5jscss/FZCuYuan-M03S.ttf) format('truetype'),url(https://fex.bdstatic.com/h5static/h5jscss/FZCuYuan-M03S.svg#FZCuYuan-M03S) format('svg')
}

@font-face {
    font-family: FZZhunYuan-M02S;
    src: url(https://fex.bdstatic.com/h5static/h5jscss/FZZhunYuan-M02S.woff);
    src: url(https://fex.bdstatic.com/h5static/h5jscss/FZZhunYuan-M02S.eot?#iefix) format('embedded-opentype'),url(https://fex.bdstatic.com/h5static/h5jscss/FZZhunYuan-M02S.woff) format('woff'),url(https://fex.bdstatic.com/h5static/h5jscss/FZZhunYuan-M02S.ttf) format('truetype'),url(https://fex.bdstatic.com/h5static/h5jscss/FZZhunYuan-M02S.svg#FZZhunYuan-M02S) format('svg')
}

@font-face {
    font-family: FZTeCuGuangHuiS-R-GB;
    src: url(https://fex.bdstatic.com/h5static/h5jscss/FZTeCuGuangHuiS-R-GB.woff);
    src: url(https://fex.bdstatic.com/h5static/h5jscss/FZTeCuGuangHuiS-R-GB.eot?#iefix) format('embedded-opentype'),url(https://fex.bdstatic.com/h5static/h5jscss/FZTeCuGuangHuiS-R-GB.woff) format('woff'),url(https://fex.bdstatic.com/h5static/h5jscss/FZTeCuGuangHuiS-R-GB.ttf) format('truetype'),url(https://fex.bdstatic.com/h5static/h5jscss/FZTeCuGuangHuiS-R-GB.svg#FZTeCuGuangHuiS-R-GB) format('svg')
}

@font-face {
    font-family: FZHanZhenGuangBiaoS-GB;
    src: url(https://fex.bdstatic.com/h5static/h5jscss/FZHanZhenGuangBiaoS-GB.woff);
    src: url(https://fex.bdstatic.com/h5static/h5jscss/FZHanZhenGuangBiaoS-GB.eot?#iefix) format('embedded-opentype'),url(https://fex.bdstatic.com/h5static/h5jscss/FZHanZhenGuangBiaoS-GB.woff) format('woff'),url(https://fex.bdstatic.com/h5static/h5jscss/FZHanZhenGuangBiaoS-GB.ttf) format('truetype'),url(https://fex.bdstatic.com/h5static/h5jscss/FZHanZhenGuangBiaoS-GB.svg#FZHanZhenGuangBiaoS-GB) format('svg')
}

@font-face {
    font-family: FZJianZhi-M23S;
    src: url(https://fex.bdstatic.com/h5static/h5jscss/FZJianZhi-M23S.woff);
    src: url(https://fex.bdstatic.com/h5static/h5jscss/FZJianZhi-M23S.eot?#iefix) format('embedded-opentype'),url(https://fex.bdstatic.com/h5static/h5jscss/FZJianZhi-M23S.woff) format('woff'),url(https://fex.bdstatic.com/h5static/h5jscss/FZJianZhi-M23S.ttf) format('truetype'),url(https://fex.bdstatic.com/h5static/h5jscss/FZJianZhi-M23S.svg#FZJianZhi-M23S) format('svg')
}

@font-face {
    font-family: FZZhengHeiS-EB-GB;
    src: url(https://fex.bdstatic.com/h5static/h5jscss/FZZhengHeiS-EB-GB.woff);
    src: url(https://fex.bdstatic.com/h5static/h5jscss/FZZhengHeiS-EB-GB.eot?#iefix) format('embedded-opentype'),url(https://fex.bdstatic.com/h5static/h5jscss/FZZhengHeiS-EB-GB.woff) format('woff'),url(https://fex.bdstatic.com/h5static/h5jscss/FZZhengHeiS-EB-GB.ttf) format('truetype'),url(https://fex.bdstatic.com/h5static/h5jscss/FZZhengHeiS-EB-GB.svg#FZZhengHeiS-EB-GB) format('svg')
}

@font-face {
    font-family: FZZhengHeiS-R-GB;
    src: url(https://fex.bdstatic.com/h5static/h5jscss/FZZhengHeiS-R-GB.woff);
    src: url(https://fex.bdstatic.com/h5static/h5jscss/FZZhengHeiS-R-GB.eot?#iefix) format('embedded-opentype'),url(https://fex.bdstatic.com/h5static/h5jscss/FZZhengHeiS-R-GB.woff) format('woff'),url(https://fex.bdstatic.com/h5static/h5jscss/FZZhengHeiS-R-GB.ttf) format('truetype'),url(https://fex.bdstatic.com/h5static/h5jscss/FZZhengHeiS-R-GB.svg#FZZhengHeiS-R-GB) format('svg')
}

@font-face {
    font-family: FZBeiWeiKaiShu-S19S;
    src: url(https://fex.bdstatic.com/h5static/h5jscss/FZBeiWeiKaiShu-S19S.woff);
    src: url(https://fex.bdstatic.com/h5static/h5jscss/FZBeiWeiKaiShu-S19S.eot?#iefix) format('embedded-opentype'),url(https://fex.bdstatic.com/h5static/h5jscss/FZBeiWeiKaiShu-S19S.woff) format('woff'),url(https://fex.bdstatic.com/h5static/h5jscss/FZBeiWeiKaiShu-S19S.ttf) format('truetype'),url(https://fex.bdstatic.com/h5static/h5jscss/FZBeiWeiKaiShu-S19S.svg#FZBeiWeiKaiShu-S19S) format('svg')
}

@font-face {
    font-family: FZTieJinLiShu-S17S;
    src: url(https://fex.bdstatic.com/h5static/h5jscss/FZTieJinLiShu-S17S.woff);
    src: url(https://fex.bdstatic.com/h5static/h5jscss/FZTieJinLiShu-S17S.eot?#iefix) format('embedded-opentype'),url(https://fex.bdstatic.com/h5static/h5jscss/FZTieJinLiShu-S17S.woff) format('woff'),url(https://fex.bdstatic.com/h5static/h5jscss/FZTieJinLiShu-S17S.ttf) format('truetype'),url(https://fex.bdstatic.com/h5static/h5jscss/FZTieJinLiShu-S17S.svg#FZTieJinLiShu-S17S) format('svg')
}

@font-face {
    font-family: FZYingBiKaiShu-S15S;
    src: url(https://fex.bdstatic.com/h5static/h5jscss/FZYingBiKaiShu-S15S.woff);
    src: url(https://fex.bdstatic.com/h5static/h5jscss/FZYingBiKaiShu-S15S.eot?#iefix) format('embedded-opentype'),url(https://fex.bdstatic.com/h5static/h5jscss/FZYingBiKaiShu-S15S.woff) format('woff'),url(https://fex.bdstatic.com/h5static/h5jscss/FZYingBiKaiShu-S15S.ttf) format('truetype'),url(https://fex.bdstatic.com/h5static/h5jscss/FZYingBiKaiShu-S15S.svg#FZYingBiKaiShu-S15S) format('svg')
}

@font-face {
    font-family: FZYingBiXingShu-S16S;
    src: url(https://fex.bdstatic.com/h5static/h5jscss/FZYingBiXingShu-S16S.woff);
    src: url(https://fex.bdstatic.com/h5static/h5jscss/FZYingBiXingShu-S16S.eot?#iefix) format('embedded-opentype'),url(https://fex.bdstatic.com/h5static/h5jscss/FZYingBiXingShu-S16S.woff) format('woff'),url(https://fex.bdstatic.com/h5static/h5jscss/FZYingBiXingShu-S16S.ttf) format('truetype'),url(https://fex.bdstatic.com/h5static/h5jscss/FZYingBiXingShu-S16S.svg#FZYingBiXingShu-S16S) format('svg')
}

@font-face {
    font-family: FZZJ-LJDFONT;
    src: url(https://fex.bdstatic.com/h5static/h5jscss/FZZJ-LJDFONT.woff);
    src: url(https://fex.bdstatic.com/h5static/h5jscss/FZZJ-LJDFONT.eot?#iefix) format('embedded-opentype'),url(https://fex.bdstatic.com/h5static/h5jscss/FZZJ-LJDFONT.woff) format('woff'),url(https://fex.bdstatic.com/h5static/h5jscss/FZZJ-LJDFONT.ttf) format('truetype'),url(https://fex.bdstatic.com/h5static/h5jscss/FZZJ-LJDFONT.svg#FZZJ-LJDFONT) format('svg')
}

@font-face {
    font-family: FZJingLeiS-R-GB;
    src: url(https://fex.bdstatic.com/h5static/h5jscss/FZJingLeiS-R-GB.woff);
    src: url(https://fex.bdstatic.com/h5static/h5jscss/FZJingLeiS-R-GB.eot?#iefix) format('embedded-opentype'),url(https://fex.bdstatic.com/h5static/h5jscss/FZJingLeiS-R-GB.woff) format('woff'),url(https://fex.bdstatic.com/h5static/h5jscss/FZJingLeiS-R-GB.ttf) format('truetype'),url(https://fex.bdstatic.com/h5static/h5jscss/FZJingLeiS-R-GB.svg#FZJingLeiS-R-GB) format('svg')
}

@font-face {
    font-family: FZShouJinShu-S10S;
    src: url(https://fex.bdstatic.com/h5static/h5jscss/FZShouJinShu-S10S.woff);
    src: url(https://fex.bdstatic.com/h5static/h5jscss/FZShouJinShu-S10S.eot?#iefix) format('embedded-opentype'),url(https://fex.bdstatic.com/h5static/h5jscss/FZShouJinShu-S10S.woff) format('woff'),url(https://fex.bdstatic.com/h5static/h5jscss/FZShouJinShu-S10S.ttf) format('truetype'),url(https://fex.bdstatic.com/h5static/h5jscss/FZShouJinShu-S10S.svg#FZShouJinShu-S10S) format('svg')
}

@font-face {
    font-family: FZMiaoWuS-GB;
    src: url(https://fex.bdstatic.com/h5static/h5jscss/FZMiaoWuS-GB.woff);
    src: url(https://fex.bdstatic.com/h5static/h5jscss/FZMiaoWuS-GB.eot?#iefix) format('embedded-opentype'),url(https://fex.bdstatic.com/h5static/h5jscss/FZMiaoWuS-GB.woff) format('woff'),url(https://fex.bdstatic.com/h5static/h5jscss/FZMiaoWuS-GB.ttf) format('truetype'),url(https://fex.bdstatic.com/h5static/h5jscss/FZMiaoWuS-GB.svg#FZMiaoWuS-GB) format('svg')
}

@font-face {
    font-family: FZHei-B01T;
    src: url(https://fex.bdstatic.com/h5static/h5jscss/FZHei-B01T.woff);
    src: url(https://fex.bdstatic.com/h5static/h5jscss/FZHei-B01T.eot?#iefix) format('embedded-opentype'),url(https://fex.bdstatic.com/h5static/h5jscss/FZHei-B01T.woff) format('woff'),url(https://fex.bdstatic.com/h5static/h5jscss/FZHei-B01T.ttf) format('truetype'),url(https://fex.bdstatic.com/h5static/h5jscss/FZHei-B01T.svg#FZHei-B01T) format('svg')
}

@font-face {
    font-family: FZCuYuan-M03T;
    src: url(https://fex.bdstatic.com/h5static/h5jscss/FZCuYuan-M03T.woff);
    src: url(https://fex.bdstatic.com/h5static/h5jscss/FZCuYuan-M03T.eot?#iefix) format('embedded-opentype'),url(https://fex.bdstatic.com/h5static/h5jscss/FZCuYuan-M03T.woff) format('woff'),url(https://fex.bdstatic.com/h5static/h5jscss/FZCuYuan-M03T.ttf) format('truetype'),url(https://fex.bdstatic.com/h5static/h5jscss/FZCuYuan-M03T.svg#FZCuYuan-M03T) format('svg')
}

@font-face {
    font-family: FZZhunYuan-M02T;
    src: url(https://fex.bdstatic.com/h5static/h5jscss/FZZhunYuan-M02T.woff);
    src: url(https://fex.bdstatic.com/h5static/h5jscss/FZZhunYuan-M02T.eot?#iefix) format('embedded-opentype'),url(https://fex.bdstatic.com/h5static/h5jscss/FZZhunYuan-M02T.woff) format('woff'),url(https://fex.bdstatic.com/h5static/h5jscss/FZZhunYuan-M02T.ttf) format('truetype'),url(https://fex.bdstatic.com/h5static/h5jscss/FZZhunYuan-M02T.svg#FZZhunYuan-M02T) format('svg')
}

@font-face {
    font-family: FZNewXiuLi-Z11T;
    src: url(https://fex.bdstatic.com/h5static/h5jscss/FZNewXiuLi-Z11T.woff);
    src: url(https://fex.bdstatic.com/h5static/h5jscss/FZNewXiuLi-Z11T.eot?#iefix) format('embedded-opentype'),url(https://fex.bdstatic.com/h5static/h5jscss/FZNewXiuLi-Z11T.woff) format('woff'),url(https://fex.bdstatic.com/h5static/h5jscss/FZNewXiuLi-Z11T.ttf) format('truetype'),url('https://fex.bdstatic.com/h5static/h5jscss/FZNewXiuLi-Z11T.svg#FZNew XiuLi-Z11T') format('svg')
}

@font-face {
    font-family: FZYingBiKaiShu-S15T;
    src: url(https://fex.bdstatic.com/h5static/h5jscss/FZYingBiKaiShu-S15T.woff);
    src: url(https://fex.bdstatic.com/h5static/h5jscss/FZYingBiKaiShu-S15T.eot?#iefix) format('embedded-opentype'),url(https://fex.bdstatic.com/h5static/h5jscss/FZYingBiKaiShu-S15T.woff) format('woff'),url(https://fex.bdstatic.com/h5static/h5jscss/FZYingBiKaiShu-S15T.ttf) format('truetype'),url(https://fex.bdstatic.com/h5static/h5jscss/FZYingBiKaiShu-S15T.svg#FZYingBiKaiShu-S15T) format('svg')
}

@font-face {
    font-family: FZBeiWeiKaiShu-Z15T;
    src: url(https://fex.bdstatic.com/h5static/h5jscss/FZBeiWeiKaiShu-Z15T.woff);
    src: url(https://fex.bdstatic.com/h5static/h5jscss/FZBeiWeiKaiShu-Z15T.eot?#iefix) format('embedded-opentype'),url(https://fex.bdstatic.com/h5static/h5jscss/FZBeiWeiKaiShu-Z15T.woff) format('woff'),url(https://fex.bdstatic.com/h5static/h5jscss/FZBeiWeiKaiShu-Z15T.ttf) format('truetype'),url(https://fex.bdstatic.com/h5static/h5jscss/FZBeiWeiKaiShu-Z15T.svg#FZBeiWeiKaiShu-Z15T) format('svg')
}

@font-face {
    font-family: FZBoYaSongT-GB;
    src: url(https://fex.bdstatic.com/h5static/h5jscss/FZBoYaSongT-GB.woff);
    src: url(https://fex.bdstatic.com/h5static/h5jscss/FZBoYaSongT-GB.eot?#iefix) format('embedded-opentype'),url(https://fex.bdstatic.com/h5static/h5jscss/FZBoYaSongT-GB.woff) format('woff'),url(https://fex.bdstatic.com/h5static/h5jscss/FZBoYaSongT-GB.ttf) format('truetype'),url(https://fex.bdstatic.com/h5static/h5jscss/FZBoYaSongT-GB.svg#FZBoYaSongT-GB) format('svg')
}

@font-face {
    font-family: FZLanTingHeiT-B-GB;
    src: url(https://fex.bdstatic.com/h5static/h5jscss/FZLanTingHeiT-B-GB.woff);
    src: url(https://fex.bdstatic.com/h5static/h5jscss/FZLanTingHeiT-B-GB.eot?#iefix) format('embedded-opentype'),url(https://fex.bdstatic.com/h5static/h5jscss/FZLanTingHeiT-B-GB.woff) format('woff'),url(https://fex.bdstatic.com/h5static/h5jscss/FZLanTingHeiT-B-GB.ttf) format('truetype'),url(https://fex.bdstatic.com/h5static/h5jscss/FZLanTingHeiT-B-GB.svg#FZLanTingHeiT-B-GB) format('svg')
}

@font-face {
    font-family: FZLanTingHeiT-DB-GBK;
    src: url(https://fex.bdstatic.com/h5static/h5jscss/FZLanTingHeiT-DB-GBK.woff);
    src: url(https://fex.bdstatic.com/h5static/h5jscss/FZLanTingHeiT-DB-GBK.eot?#iefix) format('embedded-opentype'),url(https://fex.bdstatic.com/h5static/h5jscss/FZLanTingHeiT-DB-GBK.woff) format('woff'),url(https://fex.bdstatic.com/h5static/h5jscss/FZLanTingHeiT-DB-GBK.ttf) format('truetype'),url(https://fex.bdstatic.com/h5static/h5jscss/FZLanTingHeiT-DB-GBK.svg#FZLanTingHeiT-DB-GBK) format('svg')
}

@font-face {
    font-family: FZLanTingHeiT-R-GB;
    src: url(https://fex.bdstatic.com/h5static/h5jscss/FZLanTingHeiT-R-GB.woff);
    src: url(https://fex.bdstatic.com/h5static/h5jscss/FZLanTingHeiT-R-GB.eot?#iefix) format('embedded-opentype'),url(https://fex.bdstatic.com/h5static/h5jscss/FZLanTingHeiT-R-GB.woff) format('woff'),url(https://fex.bdstatic.com/h5static/h5jscss/FZLanTingHeiT-R-GB.ttf) format('truetype'),url(https://fex.bdstatic.com/h5static/h5jscss/FZLanTingHeiT-R-GB.svg#FZLanTingHeiT-R-GB) format('svg')
}

@font-face {
    font-family: FZLanTingHeiT-EL-GB;
    src: url(https://fex.bdstatic.com/h5static/h5jscss/FZLanTingHeiT-EL-GB.woff);
    src: url(https://fex.bdstatic.com/h5static/h5jscss/FZLanTingHeiT-EL-GB.eot?#iefix) format('embedded-opentype'),url(https://fex.bdstatic.com/h5static/h5jscss/FZLanTingHeiT-EL-GB.woff) format('woff'),url(https://fex.bdstatic.com/h5static/h5jscss/FZLanTingHeiT-EL-GB.ttf) format('truetype'),url(https://fex.bdstatic.com/h5static/h5jscss/FZLanTingHeiT-EL-GB.svg#FZLanTingHeiT-EL-GB) format('svg')
}

@font-face {
    font-family: NotoSansSC-Thin;
    font-style: normal;
    font-weight: 100;
    src: url(https://fex.bdstatic.com/h5static/h5jscss/NotoSansSC-Thin.woff2) format('woff2'),url(https://fex.bdstatic.com/h5static/h5jscss/NotoSansSC-Thin.woff) format('woff'),url(https://fex.bdstatic.com/h5static/h5jscss/NotoSansSC-Thin.otf) format('opentype')
}

@font-face {
    font-family: NotoSansSC-Light;
    font-style: normal;
    font-weight: 300;
    src: url(https://fex.bdstatic.com/h5static/h5jscss/NotoSansSC-Light.woff2) format('woff2'),url(https://fex.bdstatic.com/h5static/h5jscss/NotoSansSC-Light.woff) format('woff'),url(https://fex.bdstatic.com/h5static/h5jscss/NotoSansSC-Light.otf) format('opentype')
}

@font-face {
    font-family: NotoSansSC-Regular;
    font-style: normal;
    font-weight: 400;
    src: url(https://fex.bdstatic.com/h5static/h5jscss/NotoSansSC-Regular.woff2) format('woff2'),url(https://fex.bdstatic.com/h5static/h5jscss/NotoSansSC-Regular.woff) format('woff'),url(https://fex.bdstatic.com/h5static/h5jscss/NotoSansSC-Regular.otf) format('opentype')
}

@font-face {
    font-family: NotoSansSC-Medium;
    font-style: normal;
    font-weight: 500;
    src: url(https://fex.bdstatic.com/h5static/h5jscss/NotoSansSC-Medium.woff2) format('woff2'),url(https://fex.bdstatic.com/h5static/h5jscss/NotoSansSC-Medium.woff) format('woff'),url(https://fex.bdstatic.com/h5static/h5jscss/NotoSansSC-Medium.otf) format('opentype')
}

@font-face {
    font-family: NotoSansSC-Bold;
    font-style: normal;
    font-weight: 700;
    src: url(https://fex.bdstatic.com/h5static/h5jscss/NotoSansSC-Bold.woff2) format('woff2'),url(https://fex.bdstatic.com/h5static/h5jscss/NotoSansSC-Bold.woff) format('woff'),url(https://fex.bdstatic.com/h5static/h5jscss/NotoSansSC-Bold.otf) format('opentype')
}

@font-face {
    font-family: NotoSansSC-Black;
    font-style: normal;
    font-weight: 900;
    src: url(https://fex.bdstatic.com/h5static/h5jscss/NotoSansSC-Black.woff2) format('woff2'),url(https://fex.bdstatic.com/h5static/h5jscss/NotoSansSC-Black.woff) format('woff'),url(https://fex.bdstatic.com/h5static/h5jscss/NotoSansSC-Black.otf) format('opentype')
}

@font-face {
    font-family: NotoSansSC-DemiLight;
    src: url(https://fex.bdstatic.com/h5static/h5jscss/NotoSansSC-DemiLight.woff);
    src: url(https://fex.bdstatic.com/h5static/h5jscss/NotoSansSC-DemiLight.eot?#iefix) format('embedded-opentype'),url(https://fex.bdstatic.com/h5static/h5jscss/NotoSansSC-DemiLight.woff) format('woff'),url(https://fex.bdstatic.com/h5static/h5jscss/NotoSansSC-DemiLight.ttf) format('truetype'),url(https://fex.bdstatic.com/h5static/h5jscss/NotoSansSC-DemiLight.svg#NotoSansSC-DemiLight) format('svg')
}

@font-face {
    font-family: zcool-gdh;
    src: url(https://fex.bdstatic.com/h5static/h5jscss/zcool-gdh.woff);
    src: url(https://fex.bdstatic.com/h5static/h5jscss/zcool-gdh.eot?#iefix) format('embedded-opentype'),url(https://fex.bdstatic.com/h5static/h5jscss/zcool-gdh.woff) format('woff'),url(https://fex.bdstatic.com/h5static/h5jscss/zcool-gdh.ttf) format('truetype'),url(https://fex.bdstatic.com/h5static/h5jscss/zcool-gdh.svg#zcool-gdh) format('svg')
}

@font-face {
    font-family: HappyZcool;
    src: url(https://fex.bdstatic.com/h5static/h5jscss/HappyZcool.woff);
    src: url(https://fex.bdstatic.com/h5static/h5jscss/HappyZcool.eot?#iefix) format('embedded-opentype'),url(https://fex.bdstatic.com/h5static/h5jscss/HappyZcool.woff) format('woff'),url(https://fex.bdstatic.com/h5static/h5jscss/HappyZcool.ttf) format('truetype'),url(https://fex.bdstatic.com/h5static/h5jscss/HappyZcool.svg#HappyZcool) format('svg')
}